body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  
}
.headline-1{
  width: 100%;
}
.logo_size_invert{
  width: 50%;
}
/* Barvy
Světlá barva pozadí: #f2b880
Tmavší barvy pozadí za obrázkem: #e88121
Barva text v oranžovém pozadí: #752400
*/
